src/main/resources/paohaijiao/dtd/Jquick-mybatis.dtd

<?xml version="1.0" encoding="UTF-8"?>

        <!-- 根元素 -->
        <!ELEMENT mapper (insert*, delete*, update*, select*)>
        <!ATTLIST mapper
                namespace CDATA #REQUIRED
                >

        <!-- SQL 操作标签 - 允许任意混合内容 -->
        <!ELEMENT insert ANY>
        <!ATTLIST insert
                name CDATA #REQUIRED
                paramClass CDATA #IMPLIED
                returnClass CDATA #IMPLIED
                >

        <!ELEMENT delete ANY>
        <!ATTLIST delete
                name CDATA #REQUIRED
                paramClass CDATA #IMPLIED
                >

        <!ELEMENT update ANY>
        <!ATTLIST update
                name CDATA #REQUIRED
                paramClass CDATA #IMPLIED
                >

        <!ELEMENT select ANY>
        <!ATTLIST select
                name CDATA #REQUIRED
                paramClass CDATA #IMPLIED
                returnClass CDATA #IMPLIED
                >

        <!-- 动态 SQL 标签 -->
        <!ELEMENT if ANY>
        <!ATTLIST if
                test CDATA #REQUIRED
                >

        <!ELEMENT foreach ANY>
        <!ATTLIST foreach
                collection CDATA #REQUIRED
                item CDATA #REQUIRED
                open CDATA #IMPLIED
                close CDATA #IMPLIED
                separator CDATA #IMPLIED
                >

        <!ELEMENT choose (when*, otherwise?)>
        <!ATTLIST choose
                xmlns CDATA #IMPLIED
                >

        <!ELEMENT when ANY>
        <!ATTLIST when
                test CDATA #REQUIRED
                >

        <!ELEMENT otherwise ANY>

        <!ELEMENT where ANY>
        <!ATTLIST where
                xmlns CDATA #IMPLIED
                >

        <!ELEMENT set ANY>
        <!ATTLIST set
                xmlns CDATA #IMPLIED
                >

        <!ELEMENT trim ANY>
        <!ATTLIST trim
                prefix CDATA #IMPLIED
                suffix CDATA #IMPLIED
                prefixOverrides CDATA #IMPLIED
                suffixOverrides CDATA #IMPLIED
                >